@media (max-width: 768px) {
    .title {
        font-size: 36px;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .nav-btn {
        margin-top: 6px;
    }

    .post {
        padding: 20px;
    }
}
